@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Montez&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .clip-path {
    clip-path: polygon(100% 0, 100% 12%, 89% 100%, 0 100%, 0 0);
  }
  .svg-card-icon {
    position: absolute;
    height: 32px;
    width: 32px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  body {
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .card {
    transition: background-color 0.3s ease;
  }
}

@media (prefers-reduced-motion: reduce) {
  body {
    transition: none;
  }

  .card {
    transition: none;
  }
}

.svg-container::before {
  content: "";
  opacity: 0.5;
  width: 150px;
  height: 150px;
  position: absolute;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(226, 245, 234, 1) 20%,
    rgba(226, 245, 234, 0.3) 40%,
    rgba(226, 245, 234, 0.05) 60%,
    rgba(226, 245, 234, 0) 80%,
    transparent 100%
  );
  border-radius: 50%;
  display: flex;
}
/* rgb(245, 191, 183) */
.svg-container-dark,
.svg-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  position: relative;
  overflow: visible;
  align-items: center;
}

.svg-container-dark::before {
  content: "";
  opacity: 0.5;
  width: 150px;
  height: 150px;
  position: absolute;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(145, 49, 117, 1) 20%,
    rgba(145, 49, 117, 0.3) 40%,
    rgba(145, 49, 117, 0.05) 60%,
    rgba(145, 49, 117, 0) 80%,
    transparent 100%
  );
  border-radius: 50%; /* To make the container circular */
  display: flex;
}
